.footer-wrapper {
  display: flex;
 justify-content: flex-start;
 max-width: 800px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 5px;
}

.footer-wrapper > p {
margin-right: 6px;
}

