* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  max-width: 900px;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 40px;
  background: url(./assets/light_bg.jpg) center center/cover no-repeat;
  
}

#root {
  background-color: rgb(225, 212, 201, 0.8);
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  box-shadow: 0px 0px 18px 7px rgb(133, 133, 215);
}

#root > section {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%; 
  max-width: 800px; 
  padding: 5px;
  height: 100%;
  border: 3px solid rgb(133, 133, 215);
  box-shadow:  3px 2px 4px 1px rgba(0,0,0,.6);
}

.canvas-wrapper {
  flex-grow: 1;
  display: grid;
    grid-template-areas:
    "a b"
    "c d";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.8fr 2fr;
}

.menu {
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px;
  width: 30%;
}

.menu-links {
  display: flex;
  align-self: flex-end;
}

.menu-links a {
  margin: 5px 7px 20px 0;
}

.button {
  font-family: 'Roboto Mono', monospace;
  padding: 1px 3px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    background-color: rgb(133, 133, 215);
    width: 150px;
    height: 45px;
    margin: 10px auto;
    cursor: pointer;
    line-height: 1.3;
    box-shadow:  3px 2px 4px 1px rgba(0,0,0,.4);
  }

  .button:active {
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,.4);
  }

  .settings-content {
display: flex;
flex-direction: column;
align-items: center;
  }

  .settings-content h2 {
    margin-bottom: 30px;
  }

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .select {
    margin: 15px 0;
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(133, 133, 215, 0.5);
    width: 100px;
    border-radius: 3px;
    font-size: 16px;
    border: none;

  }

  .select-container #items {
    opacity: 50%;
    font-size: 14px;
  }

  .game-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

.solution-btn,
.save-btn,
.reset-btn {
  width: 120px;
  height: 35px;
  border-radius: 2px;
  margin: 10px;
  font-size: 18px;
}

.timer {
  text-align: center;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 30px;
}

  #left {
    grid-area: c;
    justify-self: end;
  }

  #top {
    grid-area: b;
    align-self: end;
  }

  #field {
    grid-area: d;
    justify-self:start;
  }
  
  .canvas-field {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.6);
}

.settings-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 416px;
  height: 550px;
  position: fixed;
  z-index: 100;
  transform: translate(0, 0%);
  background-color: rgb(250, 235, 215);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  
}

.result-modal {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 30%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.7);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  min-height: 100px;
}

.result-modal button {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  text-align: center;
}

.table-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  position: fixed;
  z-index: 101;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  padding: 10px 15px;
  min-height: 150px;
  color: rgb(133, 133, 215, 0.8);
  font-weight: 600;
  font-size: 20px;
}

.table-modal button {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  text-align: center;
}

.table-link {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 1px solid rgb(133, 133, 215);
}

.score-ico {
  display: block;
  opacity: 1;
  width: 30px;
  height: 30px;
  margin-right: 2px;
  transition: all 0.1s linear;
  background-image: url("../src/assets/win-badge.svg");
  background-repeat: no-repeat;
}

.table-title {
  display: inline-block;
  transition: all 0.1s linear;
}

.table-link:active .score-ico {
  opacity: 0.5;
}

.table-link:active .table-title{
  color: blueviolet;
}

ol {
  padding: 10px 25px;
}



.modal-closed {
  display: none;
}

.disable-click {
  pointer-events: none;
}

#scores {
  border-radius: 5px;
  text-align: left;
  border-spacing: 10px;
	border-collapse: separate;
	width: 450px;
  color: white;
  font-size: 24px;
  border: none;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: none;
  margin-bottom:20px;
}

#scores > tbody tr:nth-child(odd) {
  background-color: rgb(133, 133, 215);
}

#scores > tbody tr:nth-child(even) {
  background-color: #e495e4;
}

#scores > thead {
  width: 40px;
}

table  {
  font-size: 20px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center; 
  background-color:rgb(64, 63, 61, 0.5);
}

.light-left-table {
  border-bottom: 2px solid black;
  height: 225px;
}

.middle-left-table {
  border-bottom: 2px solid black;
  height: 350px;
}

.hard-left-table {
  border-bottom: 2px solid black;
  height: 375px;
}

.light-top-table {
  border-right: 2px solid black;
  width: 225px;
}

.middle-top-table {
  border-right: 2px solid black;
  width: 350px;
}

.hard-top-table {
  border-right: 2px solid black;
  width: 375px;
}


.light-cell {
  border: 1.5px solid black;
  width: 45px;
  height: 45px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}

.middle-cell {
  border: 1.5px solid black;
  width: 35px;
  height: 35px;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.hard-cell {
  border: 1.5px solid black;
  width: 25px;
  height: 25px;
  color: black;
  font-size: 10px;
  font-weight: 600;
}

.thick-bottom {
  border-bottom: 2px solid black;
}

.thick-right {
  border-right: 2px solid black;
}

.clue {
  background-color: white;
 }

 .theme-mode {
  margin-bottom: 20px;
 }

 .active {
  opacity: 50%;
 }

 .dark #root {
  box-shadow: 0px 0px 18px 7px rgb(71 92 74);;
 }
 .dark #root > section {
  border: 3px solid antiquewhite;
}


 .theme-mode span {
 color: black;
  
 }

 .dark body {
  padding: 40px;
  background: url(./assets/dark_bg.jpg) center center/cover no-repeat;
 }

.dark button{
  color: antiquewhite;
  background-color: rgb(71 92 74);;

}

.dark .clue {
  color: white;
  background-color: black;
}

.dark .select {
  color: antiquewhite;
  background-color: rgb(71 92 74);;
  border: 1px solid antiquewhite;
}

.dark a {
  color: antiquewhite;
}

.dark #root {
  background-color: rgb(38 47 43 / 90%);
  color: #DCDCDC;
}

.dark table td {
  color: #DCDCDC;
  border-color: #DCDCDC;
}

.dark .table {
  border-color: #DCDCDC;
}

.dark .cell {
  border-color: #DCDCDC;
}

.dark .line {
  border-color: #DCDCDC;
}

.dark canvas {
  border-color: #DCDCDC;
}

.dark span {
  color: #DCDCDC;
}

.dark .canvas-field {
  background-color: black;
}

.dark .settings-modal {
  background-color: #403f3d;
}

.header_burger {
  display: none;
  position: absolute;
  transition: all .3s ease-in-out;
  top: 35px;
  right: 35px;
 }

 .nav_close {
  display: none;
  transform: translate(0);
  transition: all 1s linear;
  position: absolute;
  top: 35px;
  right: 35px;;
 }

 .popup {
  display: flex;
  justify-content: space-between;
}

 .popup-transparent:before {
  content: '';
  position: fixed;
  left: 0;
  top: 8rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
}

.active {
  display: inline-block;
  width: 20px ;
  height: 20px;
  text-decoration: none;
  background-color:blueviolet;
  opacity: 30%;
  border-radius: 50%;
}

.logout {
  align-self: flex-end;
  margin: 20px;
  margin-top: 200px;
}

 @media screen and (max-width: 700px){
  body {
   max-width: 768px;
   margin-top: 15px;
  }

.canvas-wrapper {
  grid-template-rows: 0.8fr 2fr;
  padding: 5px;
  width: 100%;
  height: 400px;
}

.game-btns-container {
  left: 40%;
  top: 20px;
}

.logout {
  align-self: center;
  margin: 20px;
  margin-top: 200px;
}

.menu {
  position: fixed;
  top: 13px;
  right: 20px;
  width: 94%;
  height: 700px;
  z-index: 10;
  background-color: #E1D4C9;
  padding: 5px;
  transform: translate(150%);
  transition: 0.5s all linear;
}


.menu_active {
  transform: translate(0);
}
.close_nav {
  display:none;
  top: -25px;
  right: -25px;
 }


.nav_close-open {
  display: block;
  position: absolute;;
  z-index: 110;
  transition: all .3s ease-in-out;
  display: block;
  transition: all 1s linear;
}

.theme-mode {
  align-self: center;
}

.header_burger {
  display: block;
  top: 50px;
  right: 0px;
 }

 .menu-links {
 align-self: flex-start;
}

 .header_burger-hide {
  display: none;
}

 .dark .menu {
  background-color: rgb(35, 48, 42);
 }

 .dark .header_burger svg rect {
  stroke:white;
 }

 .dark .header_burger svg path {
  stroke:white;
 }

 .dark .nav_close svg rect {
  stroke:white;
 }

 .dark .nav_close svg path {
  stroke:white;
 }


}